<div class="card">
  <h3 class="card-title">What is a data paper?</h3>
  <p>A “Data Paper” is:</p>
  <ul class="card-list">
    <li>Usually short, is linked with and describes one or more datasets</li>
    <li>Foccused on the data rather than conclusions</li>
    <li>Captures experimental and/or analytical methodologies (data provenance)</li>
    <li>Allows publication of negative results (avoids needless duplication)</li>
    <li>Is an aid to reproducibility (traditional papers increasingly contain insufficient detail)</li>
    <li>Data and data papers tend to be Open Access</li>
  </ul>
  <p>CRITICALLY: Data Papers contribute to making research and research data more <a href="https://www.nature.com/articles/sdata201618" target="_blank" rel="noopener" class="blank_target">FAIR</a> (<u>F</u>indable, <u>A</u>ccessible, <u>I</u>nteroperable and <u>R</u>e-usable)</p>
</div>
