<div class="card">
  <h3 class="card-title">Why use data2paper?</h3>
  <p>Data2paper is a cloud-based application to automate the process of compiling and submitting a data paper to a journal without the researcher having to leave the research space or wrestle directly with the journal’s submission system.</p>
  <p>Metadata from your repository dataset is transfered to Data2paper and is available in your dashboard as a data paper. Visit the data paper entry, select a journal, compose the data paper, upload it and submit it to the journal</p>
  <p class="text-center">
    <%= link_to t("hyrax.homepage.works"), hyrax.my_works_path, class: 'card-action btn btn-primary'  %>
  </p>
</div>
