<% provide :page_title, application_name %>

<div class="row home-content">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <%= render 'what' %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <%= render 'why' %>
  </div>
</div>

