<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="list-filters" role="group">
      <span class="list-filters-label">Filter Journals:</span>
      <%
        active_all = ''
        active_data = ''
        active_other = ''
        if current_page?(main_app.list_journals_path(f: {resource_type_sim: ['data journal']}))
          active_data = 'active'
        elsif current_page?(main_app.list_journals_path(f: {resource_type_sim: ['journal accepting data papers']}))
          active_other = 'active'
        else
          active_all = 'active'
        end
      %> 
      <%= link_to('All', main_app.list_journals_path, class: 'btn btn-default' + active_all) %>
      <%= link_to('Data journals',
          main_app.list_journals_path(f: {resource_type_sim: ['data journal']}),
          class: 'btn btn-default' + active_data) %>
      <%= link_to('Journal accepting data papers',
          main_app.list_journals_path(f: {resource_type_sim: ['journal accepting data papers']}),
          class: 'btn btn-default' + active_other) %>
    </div>
    <!--   
    <div class="pull-right">    
      <%#= link_to(t(:'hyrax.action.journal.new'), url_new_journal, class: 'btn btn-primary') %>
    </div>
    -->   
  </div>
</div> 
