<div class="multi-nested">
  <%= f.input :creator_nested,
    as: :person_statement,
    input_html: {
      class: '',
      data: {name: :creator_nested},
    },
    required: f.object.required?(:creator_nested)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Creator</span>
  </button>
</div>
