/* header navigation */
.image-masthead .navbar {
    background-color: #322a4c;
}

.site-footer {
  height: 71px;
}

/* Form */
form .row {
  padding-bottom: 5px;
}

form .field-wrapper:not(:last-child) {
  padding-bottom: 1em;
}

form .field-wrapper label[required="required"]::after {
  content: " *";
  color: red;
}

/* Nested fields in form */
.multi-nested .form-group,
.multi-nested .listing, {
  list-style: none;
  margin-bottom: 0px;
}

.multi-nested .btn {
  padding-top: 0px;
}

.multi-nested {
  margin-bottom: 1em;
}

/* Hide visibility options from form */
.set-access-controls.list-group-item {
  display: none;
}

.hidden {
  display: none;
}

// template download
.download_template {
  padding: 20px 0px 20px 20px;
  background-color: #eee;
  margin-bottom: 20px;
}

.download_template .alert {
  margin: 0px 20px 20px 0px;
}

.download_buttons a {
  margin-right: 30px;
}

/* Journal gallery */
.gallery-journal .media-body {
  padding-top: 10px;
}

.gallery-journal .media-heading {
  font-size: 24px;
}

.journal_image {
  max-height: 175px;
  max-width: 175px;
}

/* panel */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 10px 6px -6px #777;
  margin: 20px;
  padding: 20px;
  background-color: #646c7c !important;
  border: 1px solid #ccc;
  color: #ffffff;
}

.card a {
  color: #f9e394;
}

.card-action {
  color: #fff !important;
}

.card-title {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.card-title:before,
.card-title:after {
  background: #606060 none repeat scroll 0 0;
  bottom: -5px;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}

.card-title:after {
  background: #f8485e none repeat scroll 0 0;
  bottom: -6px;
  height: 3px;
  margin-left: -15px;
  width: 30px;
}

.card-list {
  list-style-type: none;
  margin: 0 0 15px 20px;
  padding: 0px;
}

.card-list li::before {
  content: "▣ ";
}

.card-list li {
  margin-bottom: 10px;
}
/* data paper show */
.representative-media {
  max-height: 175px;
  max-width: 175px;
}

