[Unit]
Description=Puma HTTP Server
After=network.target
Requires=puma.socket

[Service]
Type=simple
# Preferably configure a non-privileged user
User=appuser

# Specify the path to your puma application root
WorkingDirectory=/home/appuser/data2paper

# Helpful for debugging socket activation, etc.
Environment=PUMA_DEBUG=1

# The command to start Puma, use 'which puma' to get puma's bin path, specify your config/puma.rb file
ExecStart=/home/appuser/.rbenv/shims/puma -C /home/appuser/data2paper/config/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target
