<div class="multi-nested">
  <%= f.input :relation,
    as: :relation_statement,
    input_html: {
      class: '',
      data: {name: :relation}
    },
    required: f.object.required?(:relation)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Related work</span>
  </button>
</div>
