<div>
<form action="/admin/fetch_publication" method="get">
  <label>Dataset Pid</label>
  <input type="text" name="pid" value="10.5281/zenodo.1116163">
  <input type="submit" value="Submit">
</form>
</div>
