<div>
<form action="/admin/fetch_publication" method="get">
  <label>Dataset Pid</label>
  <input type="text" name="pid">
  <input type="submit" value="Submit">
</form>
<div>Example dataset pids with related publications: 10.5281/zenodo.1116163 | 10.5517/cc124wdh | 10.6084/m9.figshare.5931529</div>
</div>
