<tr class="<%= dom_class(file_member) %> attributes">
  <td class="attribute filename"><%= link_to(file_member.first_title,
  ::Hyrax::ContextualPath.new(file_member, file_member.parent).show) %></td>
  <td class="attribute date_uploaded"><%= file_member.date_uploaded.to_time.strftime('%d/%m/%Y') %></td>
  <td>
    <%
      if file_member.parent.class == ::Journal
        options = JournalFileTypesService.select_all_options
      else
        options = DataPaperFileTypesService.select_all_options
      end
    %>
    <%= select_tag 'file_set[resource_type][]',
      options_for_select(options, file_member.resource_type.first),
      id: "file_set_add_type_#{file_member.id}", class: 'form-control file_set_add_type', 
      include_blank: true, 'data-action': "/concern/file_sets/#{file_member.id}", 
      'data-name': file_member.first_title %>
  </td>
</tr>
