<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h1><span class="fa fa-edit"></span>Edit <%=curation_concern.human_readable_type.downcase%></h1>
<% end %>

<%= render 'form' %>
